*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.euler/project-euler-java8/pom.properties
target/classes/META-INF/maven/com.euler/project-euler-java8/pom.xml
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.classpath
